<div class="container mat-typography">
  <div *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
    <mat-progress-spinner color="primary" mode="indeterminate">
    </mat-progress-spinner>
  </div>

  <ng-container *ngIf="!isLoading && !baseLine">
    <h1>Mutante {{mutant.number}}</h1>
    <br>

    <h2>Descargar APK
      <a href="{{apkUrl}}">
        <mat-icon aria-label="Download apk" inline="true">cloud_download</mat-icon>
      </a>
    </h2>
    <h2>Tipo de detección {{mutant.detectionType}}</h2>
    <div *ngIf="mutant.detectionType === 'TRIVIAL'">
      Un mutante trivial, es aquel que puede ser detectado por cualquier caso de prueba. En nuestro caso, es trivial
      cuando la aplicación se crashea al momento de abrirla.
      <br>
      <br>
      <code>
              adb install apkFile
              <br>
              adb shell am start com.evancharlton.mileage/com.evancharlton.mileage.Mileage
              <br>
              adb logcat -d com.evancharlton.mileage:I *:S
              <br>
              adb shell pm clear com.evancharlton.mileage
              <br>
              adb uninstall com.evancharlton.mileage
              <br>
              adb logcat -c
      </code>
      <br>
      <br>
      <h2>Traza del error</h2>
      <div class="error-trace" [innerHtml]='errorTxt'></div>
    </div>
    <ng-container *ngIf="mutant.detectionType === 'RIP'">
      <div>
        Para detectar errores que surgieran en la navegación de la GUI de la aplicación, se utilizó la herramienta RIP.
        Se realizaron modificaciones a el jar original, para poder pasar por parámetro el apk y la carpeta de
        resultados. Si se encuentra un error, se guarda la traza de este en un archivo errortrace.txt, luego se limpian
        los datos de la aplicación, se desinstala y se limpia el logcat.
        <br>
        <br>
        <code>
                java -jar rip.jar rip_config.json apkPath mutantFolder/test
                <br>
                adb logcat -d AndroidRuntime:E *:S > mutantFolder/errortrace.txt`
                <br>
                adb shell pm clear com.evancharlton.mileage
                <br>
                adb uninstall com.evancharlton.mileage
                <br>
                adb logcat -c
            </code>
      </div>
      <br>
      <br>

      <h2>Traza del error</h2>
      <div class="error-trace" [innerHtml]='errorTxt'></div>
      <br>
      <h2> Descargar script RIPRR
        <a href="{{riprr}}">
          <mat-icon aria-label="Download replay script" inline="true">cloud_download</mat-icon>
        </a>
      </h2>
      <br>
      <br>
      <h2>Screenshots de ejecución</h2>
      <ngb-carousel class="carousel-inner" *ngIf="mutImgs">
        <ng-template ngbSlide *ngFor="let img of mutImgs">
          <img class="center-block" [src]="img" alt="Random first slide">
        </ng-template>

      </ngb-carousel>

    </ng-container>

    <ng-container *ngIf="mutant.detectionType === 'VRT'">
      <div>
        Para la detección de errores mediante VRT, se utilizó la herramienta Resemble.js. Se recorrieron los mutantes
        que no eran triviales y que no habían sido detectados con RIP. En cada ejecución de RIP se tomaron screesnhots
        de los diferentes estados descubiertos. Con esto, se comparó cada estado del mutante con los estados de la
        versión baseline. Después se definió como error máximo 10% para definir si pasaba o no el caso de prueba.
      </div>
      <br>
      <h2> Descargar script RIPRR
        <a href="{{riprr}}">
          <mat-icon aria-label="Download replay script" inline="true">cloud_download</mat-icon>
        </a>
      </h2>
      <app-vrt [mutant]="mutant"></app-vrt>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="!isLoading && baseLine">
    <h1>Baseline</h1>
    <br>
    <h2>Descargar APK
      <a href="{{apkUrl}}">
        <mat-icon aria-label="Download apk" inline="true">cloud_download</mat-icon>
      </a>
    </h2>
    <br>
    <h2> Descargar script RIPRR
      <a href="{{riprr}}">
        <mat-icon aria-label="Download replay script" inline="true">cloud_download</mat-icon>
      </a>
    </h2>
    <br>
    <h2>Screenshots de ejecución</h2>
    <ngb-carousel class="carousel-inner" *ngIf="imgs">

      <ng-template ngbSlide *ngFor="let img of imgs">
        <img class="center-block" [src]="img" alt="Random first slide">
      </ng-template>

    </ngb-carousel>

  </ng-container>
</div>
