<section class="mat-typography">
  <h1>Mutantes</h1>
  <mat-form-field>
    <input matInput (keyup.enter)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>

  <div class="mat-elevation-z8">
    <div *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
      <mat-progress-spinner color="primary" mode="indeterminate">
      </mat-progress-spinner>
    </div>
    <table *ngIf="!isLoading" mat-table [dataSource]="dataSource" matSort>

      <!-- Number Column -->
      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Número </th>
        <td mat-cell *matCellDef="let row"> {{row.number}} </td>
      </ng-container>

      <!-- Type Column -->
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de detección</th>
        <td mat-cell *matCellDef="let row"> {{row.detectionType}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="[row.number]"
        routerLinkActive="router-link-active" class="pointer">
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>


</section>
