<div class="container">
  <section class="mat-typography">
    <h1>Parcial 2, pruebas automáticas</h1>
    <br>
    <div class="flex-container">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Mileage</mat-card-title>
          <mat-card-subtitle>Aplicación a probar</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            Peso: 372k
          </p>
          <p>
            Aplicación para el manejo del consumo de gasolina de un vehículo.

          </p>
        </mat-card-content>
        <mat-card-actions>
          <a target="_blank" mat-button href="{{apkUrl}}">APK</a>
          <button mat-button [routerLink]="0" routerLinkActive="router-link-active">Ver reporte</button>
          <a target="_blank" mat-button href="{{playstore}}">Play Store</a>
        </mat-card-actions>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Emulador Pixel</mat-card-title>
          <mat-card-subtitle>Dispositivo</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            API 25
            <br>
            Ejecutado en un computador ASUS, con:
            <br>
            Sistema Operativo: Linux - Ubuntu 18.0.4, 64bits
            <br>
            RAM : 11.6Gb
            <br>
            Tarjeta Gráfica: GeForce 920m
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <br>
    <h2>Estrategia</h2>
    <p>Para llevar acabo la detección de la mayor cantidad de mutantes en la app Mileage, se utilizaron 3 tipos de detección. Primero, se descartaron los mutantes triviales, simplemente ejecutando la app y detectando el crash. Después, en los mutantes restantes se ejecutó la herramienta RIP, la cual explora toda la aplicación, y al encotnrar un error se guardó la traza de este. Finalmente, a los mutantes que no fueron detectados con RIP, se les hizo un comparación VRT con ayuda de la herramienta Resemble.js.
    Los archivos generados por cada ejecución, fueron almacenados en s3. Por otro lado, los datos de la ejecución de cada prueba, fueron guardados en la base de datos Cloud Firestore de Firebase.
    </p>
    <br>
    <h2>Tipos de detección</h2>
    <p>Para la detección de mutantes, se desarrolló un script en Node.js. Se utilizaron estos 3 tipos de detección:</p>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <strong>Detección trivial</strong>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          Un mutante trivial, es aquel que puede ser detectado por cualquier caso de prueba. En nuestro caso, es trivial
          cuando la aplicación se crashea al momento de abrirla. Por lo tanto, se ejecutaron los siguientes comandos en todas las aplicaciones, con el fin de identificar si había un error con solo iniciar la aplicación.
          <br>
          <br>
          <code>
                adb install apkFile
                <br>
                adb shell am start com.evancharlton.mileage/com.evancharlton.mileage.Mileage
                <br>
                adb logcat -d com.evancharlton.mileage:I *:S
                <br>
                adb shell pm clear com.evancharlton.mileage
                <br>
                adb uninstall com.evancharlton.mileage
                <br>
                adb logcat -c
            </code>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <strong>Detección con RIP</strong>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          Para detectar errores que surgieran en la navegación de la GUI de la aplicación, se utilizó la herramienta RIP. Se realizaron modificaciones a el jar original, para poder pasar por parámetro el apk y la carpeta de resultados. Si se encuentra un error, se guarda la traza de este en un archivo errortrace.txt, luego se limpian los datos de la aplicación, se desinstala y se limpia el logcat.
          <br>
          <br>
          <code>
              java -jar rip.jar rip_config.json apkPath mutantFolder/test
              <br>
              adb logcat -d AndroidRuntime:E *:S > mutantFolder/errortrace.txt`
              <br>
              adb shell pm clear com.evancharlton.mileage
              <br>
              adb uninstall com.evancharlton.mileage
              <br>
              adb logcat -c
          </code>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <strong>Detección con VRT</strong>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          Para la detección de errores mediante VRT, se utilizó la herramienta Resemble.js. Se recorrieron los mutantes que no eran triviales y que no habían sido detectados con RIP. En cada ejecución de RIP se tomaron screesnhots de los diferentes estados descubiertos. Con esto, se comparó cada estado del mutante con los estados de la versión baseline. Después se definió como error máximo 10% para definir si pasaba o no el caso de prueba.
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <br>
    <h2>Presupuesto</h2>
    <p>En cuanto al presupuesto de pruebas, se cuenta con 24hrs persona y 48hrs máquina.
    </p>
    <br>
  </section>

  <app-mutation-table></app-mutation-table>
</div>
