.example-card {
  width: 45%;
}

.example-header-image {
  background-image: url('https://fidoalliance.org/wp-content/uploads/2019/02/Android_greenrobot-01_aRFK1TB.max-2800x2800.png');
  background-size: cover;
}

section {
  margin-bottom: 3rem;
}
