<h2>VRT desc</h2>

<div class="mat-elevation-z8">
    <div *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
      <mat-progress-spinner color="primary" mode="indeterminate">
      </mat-progress-spinner>
    </div>
    <table *ngIf="!isLoading" mat-table [dataSource]="imgs" matSort>

      <ng-container matColumnDef="original">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Original </th>
        <td mat-cell *matCellDef="let row"> <img src="{{row.original}}" alt="">
        </td>
      </ng-container>

      <ng-container matColumnDef="mutante">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Mutante </th>
        <td mat-cell *matCellDef="let row"> <img src="{{row.mutante}}" alt=""> </td>
      </ng-container>

      <ng-container matColumnDef="diff">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Diff </th>
          <td mat-cell *matCellDef="let row">

            <img src="{{row.diff}}" alt="">
            <br>
            <strong>Porcentaje de diferencia: {{row.info}}</strong>
            <br>
            <ng-container  *ngIf="row.info<0.1">
              <strong><p style="color: green">PASÓ</p></strong>

            </ng-container>
            <ng-container style="color: red" *ngIf="row.info >= 0.1">
              <strong style="color: red">FALLÓ</strong>
              </ng-container>
              <br>
          </td>
        </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" >
      </tr>
    </table>
  </div>
